{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <title>Culqi Python</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'payment/waitMe.min.css' %}" />
</head>
<body>
<div class="container">
    <h1>Culqi Python Django Example</h1>
    <a id="miBoton" class="btn btn-primary" href="#" >Pay</a>
    <br/><br/><br/>
    <div class="panel panel-default" id="response-panel">
        <div class="panel-heading">Response</div>
        <div class="panel-body" id="response">
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://checkout.culqi.com/plugins/v2"></script>
<script type="text/javascript" src="{% static 'payment/waitMe.min.js' %}"></script>
<script>
$("#response-panel").hide();
Culqi.publicKey = 'pk_test_89a1417406ce7fa2';
Culqi.settings({
    title: 'Pachaqtec Grupo 1',
    currency: 'PEN',
    description: 'Compra de cursos',
    amount: 1000
});
$('#miBoton').on('click', function (e) {
    // Abre el formulario con las opciones de Culqi.configurar
    Culqi.open();
    e.preventDefault();
});
// Recibimos Token del Culqi.js
function culqi() {
  if (Culqi.token) {
      $(document).ajaxStart(function(){
        run_waitMe();
      });
      // Imprimir Token
      $.ajax({
         type: 'POST',
         url: '/charges/',
         data: { 
            csrfmiddlewaretoken: '{{ csrf_token }}', 
            token: Culqi.token.id, 
            installments: Culqi.token.metadata.installments, 
            idPedido:1,
            moneda:"PEN",
            monto:1000,
            email:"davidlopez@x-codec.net" 
          },
         datatype: 'json',
         success: function(res){
           var result = "";
           console.log(res);
           if(res.constructor == String){
               result = JSON.parse(res);
           }
           if(res.constructor == Object){
               result = JSON.parse(JSON.stringify(res));
           }
           if(result.object === 'charge'){
             resultdiv(res.outcome.user_message);
           }
           if(result.object === 'error'){
               resultdiv(result.user_message);
           }
         },
         error: function(error) {
           resultdiv(error);
         }
      });
  } else {
    // Hubo un problema...
    // Mostramos JSON de objeto error en consola
    resultdiv(Culqi.error.user_message);
  }
};
function run_waitMe(){
  $('body').waitMe({
    effect: 'orbit',
    text: 'Procesando pago...',
    bg: 'rgba(255,255,255,0.7)',
    color:'#28d2c8'
  });
}
function resultdiv(message){
  $('#response-panel').show();
  $('#response').html(message);
  $('body').waitMe('hide');
}
</script>
</body>
</html>
